<div class="game-div" [style.width.px]="Width">
  <div class="game-div-title">
    Legend
  </div>
  <div class="legend-list">
    <div class="legend-item">
      [space]<br />
      Drop
    </div>
    <div class="legend-item">
      [◄]<br />
      Move
    </div>
    <div class="legend-item">
      [►]<br />
      Move
    </div>
    <div class="legend-item">
      [▼]<br />
      Accel.
    </div>
    <div class="legend-item">
      [▲]<br />
      Rotate
    </div>
    <div class="legend-item">
      [esc]<br />
      Pause
    </div>
  </div>
</div>