<div class="game-div">
  <div class="game-div-title">
    High Scores
  </div>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dignissimos voluptatum officiis necessitatibus dolorem dolorum, fugiat illo, repellat consequuntur quos autem vero aut eaque! Odio molestias animi rerum tempora fugit!

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit ex nihil voluptatibus animi distinctio reiciendis, incidunt voluptate, laboriosam ea rem cumque? Est saepe suscipit ea. Eveniet temporibus soluta incidunt.
</div>