.display-value {
  display: flex;
  flex-flow: column;
  width: 90px;
}

.dv-value {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  height: 50px;
}